<div class="borrow-create">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="header-text">
          <h4>Add New Borrow Data</h4>
        </div>

        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="onCreateBorrow()" class="row g-3">
            <div class="col-md-6 mb-3">
              <label for="borrow_date" class="form-label">Borrow Date</label>
              <input type="date" name="borrow_date" class="form-control" placeholder="Borrow Date"
                formControlName="borrow_date">
            </div>

            <div class="col-md-6 mb-3">
              <label for="return_date" class="form-label">Return Date</label>
              <input type="date" name="return_date" class="form-control" placeholder="Return Date"
                formControlName="return_date">
            </div>

            <div class="col-md-4 mb-3">
              <select class="form-control" name="book_id" aria-label="Default select example" formControlName="book_id">
                <option selected>Select Book</option>
                <option *ngFor="let book of books" [value]="book.id">{{
                  book.title }}</option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <select class="form-control" name="customer_id" aria-label="Default select example"
                formControlName="customer_id">
                <option selected>Select Customer</option>
                <option *ngFor="let customer of customers" [value]="customer.id">{{
                  customer.name }}</option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <select class="form-control" name="operator_id" aria-label="Default select example"
                formControlName="operator_id">
                <option selected>Select Operator</option>
                <option *ngFor="let operator of operators" [value]="operator.id">{{
                  operator.name }}</option>
              </select>
            </div>

            <div class="btn-action">
              <button type="submit" class="btn btn-info">Submit</button>
              <button (click)="onCancelSubmit($event)" class="btn btn-secondary">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>