.borrow-create {
  .card {
    .header-text {
      padding: 30px 0 0 18px;

      h4 {
        font-weight: 700;
      }
    }

    .card-body {
      form {
        label {
          font-size: 15px;
          font-weight: 600;
        }

        input {
          font-size: 15px;
          font-weight: 500;
        }

        .customer_name {
          font-size: 16px;
          color: #ffffff;
          padding: 10px;
        }

        .operator_name {
          font-size: 16px;
          color: #ffffff;
          padding: 10px;
        }

        .btn-action {
          margin: 30px 0 0 16px;

          button {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}