<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Operators Data
        </div>
        <div class="card-body">
          <div class="action">
            <a [routerLink]="['/operators/operator-create']" type="button" class="btn btn-info">
              <i class="fa fa-plus"></i> New Operator
            </a>

            <form action="" class="search">
              <i class="fa fa-search"></i>
              <input type="search" name="filterText" class="form-control" placeholder="Search" [(ngModel)]="filterText">
            </form>
          </div>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Handphone</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let operator of operators | filter: filterText">
                <td>{{ operator .id }}</td>
                <td>{{ operator.name }}</td>
                <td>{{ operator.email }}</td>
                <td>{{ operator.address }}</td>
                <td>{{ operator.handphone }}</td>
                <td>
                  <a type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit"
                    (click)="onSelectOperator(operator.id)">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"
                    (click)="onDeleteOperator(operator)">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>