.card {
  .card-body {
    .action {
      display: flex;
      flex: 1;
      justify-content: space-between;

      .btn {
        color: #fff;
      }

      .search {
        i {
          padding-right: 10px;
        }

        display: flex;
        align-items: center;
      }
    }

    .book-list {
      .card {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        border: none;

        h5 {
          font-weight: 600;
        }

        .btn-action {
          a {
            color: #fff
          }

          .btn-borrow {
            position: absolute;
            right: 10px;
            padding: 7px 10px;
            background-color: rgb(19, 161, 226);
            color: #ffffff;
            border-radius: 3px;
            text-decoration: none;
          }

          .btn-borrow:hover {
            position: absolute;
            right: 10px;
            padding: 7px 10px;
            background-color: rgb(19, 161, 226);
            color: #ffffff;
            border-radius: 3px;
            text-decoration: none;
          }
        }
      }
    }
  }
}