<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Borrows Data
        </div>
        <div class="card-body">
          <div class="action">
            <a [routerLink]="['/borrows/borrow-create']" type="button" class="btn btn-info">
              <i class="fa fa-plus"></i> New Borrow
            </a>

            <form action="" class="search">
              <i class="fa fa-search"></i>
              <input type="text" name="searchText" class="form-control" placeholder="Search" [(ngModel)]="filterText">
            </form>
          </div>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Borrow Date</th>
                <th>Return Date</th>
                <th>Overdue</th>
                <th>Charge</th>
                <th>Book</th>
                <th>Customer</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let borrow of borrows | filter: filterText">
                <td>{{ borrow.id }}</td>
                <td>{{ borrow.borrow_date | date :'mediumDate' }}</td>
                <td>{{ borrow.return_date | date :'mediumDate' }}</td>
                <td>{{ borrow.overdue}}</td>
                <td>{{ borrow.charge}}</td>
                <td>{{ borrow.book.title }}</td>
                <td>{{ borrow.customer.name }}</td>
                <td>
                  <a type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Details"
                    (click)="onClickDetails(borrow.id)">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit"
                    (click)="onSelectBorrow(borrow.id)">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"
                    (click)="onDeleteBorrow(borrow)">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          
          <jw-pagination [items]="borrows" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>