// Here you can add other styles
* {
  font-family: 'quicksand', sans-serif;
  font-weight: 500;
}

.btn {
  font-size: 15px;
  font-weight: 500;
}

.loading {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}