<div class="bookreturn-update">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="header-text">
          <h4>Edit Existing Book Return</h4>
        </div>

        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="onUpdateBookReturn()" class="row g-3">
            <div class="col-md-3 mb-3">
              <label for="date" class="form-label">Date</label>
              <input type="date" name="date" class="form-control" placeholder="Date" formControlName="date">
            </div>

            <div class="col-md-9 mb-3">
              <label for="pay_amount" class="form-label">Pay Amount</label>
              <input type="text" name="pay_amount" class="form-control" placeholder="Amount"
                formControlName="pay_amount">
            </div>

            <div class="col-md-6 mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-control" name="status" aria-label="Default select example" formControlName="status">
                <option [value]="paid">Paid</option>
                <option [value]="nocharge">No Charge</option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="borrow" class="form-label">Select Borrowing Data</label>
              <select class="form-control" name="borrow_id" aria-label="Default select example"
                formControlName="borrow_id">
                <option *ngFor="let borrow of borrows" [value]="borrow.id">{{
                  borrow.customer.name }}</option>
              </select>
            </div>

            <div class="btn-action">
              <button type="submit" class="btn btn-info">Update</button>
              <button (click)="onCancelSubmit($event)" class="btn btn-secondary">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>